.card{
    width: 300px;
    height: max-content;
    box-shadow: 0 12px 12px -6px gray;
    border-radius: 5px;
    background-color: rgb(100, 100, 100);
    color: white;
    border: 1px solid orange;
    padding: 10px
}

.card:hover{
    box-shadow: 0 12px 12px -6px rgb(218, 124, 88);
}

.active-card{
    width: 400px;
    height: max-content;
    box-shadow: 0 12px 12px -6px gray;
    border-radius: 5px;
    background-color: rgb(100, 100, 100);
    color: white;
    border: 1px solid orange;
    padding: 10px
}